<div class="jumbotron">
  <h1 class="display-4 font-italic">About Us</h1>
  <p>Recruit Me is a Information Technology job site with a aim to help Employer to find right candidate in IT Industry and a Employee to lookout for potential jobs listed by top IT Industry.</p>
  <h5>For Employer</h5>
  <ul>
    <li>Post an Job ad</li>
    <li>Update a job post</li>
    <li>Edit a job</li>
    <li>Delete a job posting</li>
    <li>Access Potential candidates</li>
  </ul>
  <h5>For Employee</h5>
  <ul>
    <li>Post there resume</li>
    <li>Update resume</li>
    <li>Edit resume</li>
    <li>Delete resume</li>
    <li>Access Potential jobs list by Top IT Industry</li>
  </ul>
</div>
