<div class="jumbotron p-3 p-md-5 text-black rounded bg-light">
  <h1 class="display-4 font-italic">About Us</h1>
  <p>Recruit Me is a specialized Web Development Job Portal to help Employers find the best candidates. Helps Developers to keep an eye for interesting opportunities in the market.</p>
  <h5>For Employer</h5>
  <ul>
    <li>Post a Job ad</li>
    <li>Update a Job post</li>
    <li>Edit a Job</li>
    <li>Delete a Job post</li>
    <li>Access Potential candidates who are specialised in Web Development Field.</li>
  </ul>
  <h5>For Employee</h5>
  <ul>
    <li>Post there resume</li>
    <li>Update resume</li>
    <li>Edit resume</li>
    <li>Delete resume</li>
    <li>Apply for Jobs</li>
    <li>Access interesting opportunities in the market.</li>
  </ul>
</div>
