

 <div class="card-group">
    <div class="card">
      <img src="https://recruitme.rumii.co/wp-content/uploads/2016/07/Recruit-Me-Final-Logo-1-1.png"  class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/candidates/new" class="btn btn-outline-secondary">Post Resume here</a>
        </div>
    </div>
  </div>

