<div class="container">
    <div class="jumbotron jumbotron-fluid text-center">

    <h1>Recruit Me</h1>
    <a href="/jobs/new" class="btn btn-outline-secondary">Post an Job Ad</a>

    </div>
</div>
