<div class="jumbotron p-3 p-md-4 text-black rounded bg-light">
  <div class="row p-4 mb-4">
    <div class="card flex-md-row mb-4 p-2 shadow-sm h-md-250">
      <form action="/jobs/search" method="get" class="card-body d-flex flex-column align-items-start">
        <h2 class="mb-0">
          <a class="font-italic text-dark">Job Search </a>
        </h2>
        <br>
        <div class="lead-mb-0">
          <h6 class="font-italic"> <label for="">What</label> </h6>
          <input type="text" name="company_name"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter keywords">
          <small id="emailHelp" class="form-text text-muted">Ex: Envato,Zendesk</small>
        </div>
        <br>
        <div>
          <h6 class="font-italic"> <label for="">Where</label> </h6>
          <input type="text" name= "location" id="exampleInputPassword1" placeholder="Enter city">
          <small id="emailHelp" class="form-text text-muted">Ex: Melbourne,Sydney</small>
        </div>
        <div>
          <button class="btn btn-primary text-center">Find Jobs</button>
        </div>
      </form>
      <img class="bd-img card-img-right flex-auto d-none d-lg-block" width="1000px" height="400px"src="https://images.unsplash.com/photo-1534844624972-72af3082566e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" preserveAspectRatio="xMidYMid slice" focusable="true" role="img">
    </div>
  </div>
</div>
<%# &. is the safe navigation operator. Checks if variable is nil and then execute each block if not nil %>
<div class="jumbotron p-3 p-md-5 text-black rounded bg-light">
  <h2 class="display-4 font-italic">Search List</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Job Title</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs&.each do |job| %>
        <tr>
          <td>
            <h5> <a href="/jobs/<%= job.id %>"> <%= job.company_name + "-" + job.job_title %> </a> </h5>
          </td>
          <td>
            <h5> <%= job.location %> </h5>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
