<h1>Job Search</h1>

<form action="/jobsearch" method="get">

  <label for="">What</label>
  <input type="text" name="job_title" placeholder="Enter keywords" 
  >

  <label for="">Where</label>
  <input type="text" name="location" placeholder="Enter city" >

  <button>Find Jobs</button>
</form>


<%# value="<%= @job.job_title %>
<%# value="<%= @job.location %>