<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recruit Me</title>
  <%# <link rel='stylesheet' href='/stylesheets/main.css'> %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
  <body>
    <div class="container">
     <h1>Recruit Me</h1>
      <a href="/jobs">Current Openings</a>
      <a href="/jobs/new">Post a Job</a>
      <%= yield %>
    </div>
  </body>
</html>