<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recruit Me</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class = "container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">
          <img src="https://recruitme.rumii.co/wp-content/uploads/2016/07/Recruit-Me-Final-Logo-1-1.png" width="150" height="30" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-item nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="/jobs">Current Openings</a>
            </li>
            <% if current_role == "employer" %>
              <li class="nav-item">
                <a class="nav-item nav-link" href="/jobs/new">Post a Job</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="/candidates">All candidates</a>
              </li>
            <% else %>
              <% if current_user %>
                <li class="nav-item">
                  <a class="nav-item nav-link" href="/candidates/<%= current_user.id %>/edit">Update Profile</a>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class="nav-item nav-link" href="/candidates/new">Create Profile</a>
                </li>
              <% end %>
            <% end %>
            <% if current_user.nil? %>
              <a class="nav-item nav-link" href="/login">SignIn</a>
            <% else %>
              <li class="nav-item">
                <a class="nav-item nav-link">
                  <%= current_user.email %>[<%= current_role %>]
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="/session">Logout</a>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="blockquote-footer text-center" >&copy; Created by Priyanka</footer>
  </body>
</html>
