<div class="jumbotron">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Skills</th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
        <tr>
          <td>
            <a href="/candidates/<%= candidate.id %>">
              <%= candidate.name %> </a>
          </td>
          <td>
            <%= candidate.skills%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
