 <br>
  <h3>Employer Login:</h3>
 <br>
  <%# <form >

  <label for="">Email</label>
  <input type="text" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button>Login</button>
</form> %>

<form action="/session" method="post">
  <div class="form-group col-md-6">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group col-md-6">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name= "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <%# <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> %>
  <div class="col-md-1">
    <button type="submit" class="btn btn-primary text-center">Login</button>
  </div>
</form>