<div class="jumbotron p-3 p-md-5 text-black rounded bg-light">
  <h1 class="display-4 font-italic">Job Details</h1>
  <form action="/jobs" method="post">
    <div class="form-group">
      <h5><label for="">Company Name:</label></h5>
      <input type="text" class="form-control" name="company_name">
    </div>
    <div class="form-group">
      <h5><label for="">Job Title:</label></h5>
      <input type="text" class="form-control" name="job_title">
    </div>
    <div class="form-group">
      <h5><label for="">Company Info:</label></h5>
      <input type="text" class="form-control" name="about_company">
    </div>
    <div class="form-group">
      <h5><label for="">Job Info:</label></h5>
      <input type="text" class="form-control" name="about_job">
    </div>
    <div class="form-group">
      <h5><label for="">Job location:</label></h5>
      <input type="text" class="form-control" name="location">
    </div>
    <button class="btn btn-outline-primary">Create</button>
  </form>
</div>
