

<h1 class="display-4">Update Resume</h1>

<form action="/candidates" method="post">
    <div class="form-group">
        <label for="">Candidate Name</label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="">Personal Summary</label>
        <input type="text" class="form-control" name="summary">
    </div>
    <div class="form-group">
        <label for="">Career History</label>
        <input type="text" class="form-control" name="career_history">
    </div>
    <div class="form-group">
        <label for="">Education</label>
        <input type="text" class="form-control" name="education">
    </div>
    <div class="form-group">
        <label for="">Skills</label>
        <input type="text" class="form-control" name="skills">
    </div>
    <button class="btn btn-outline-primary">Create</button>
</form>


