

<h1 class="display-4">Create Profile</h1>

<form action="/candidates" method="post">
    <div class="form-group">
        <h5><label for="">Full Name:</label></h5>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <h5><label for="">Personal Summary:</label></h5>
         <textarea type="text" class="form-control" name="summary">
        </textarea> 
    </div>
    <div class="form-group">
        <h5><label for="">Career Info:</label></h5>
        <input type="text" class="form-control" name="career_history">
    </div>
    <div class="form-group">
        <h5><label for="">Education:</label></h5>
        <input type="text" class="form-control" name="education">
    </div>
    <div class="form-group">
        <h5><label for="">Skills:</label></h5>
        <input type="text" class="form-control" name="skills">
    </div>
    <button class="btn btn-outline-primary">Create</button>
</form>


